.menu-selector{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0em 5vw;
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

.menu-selector .menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0 0px;
    margin: 0;
}

.menu-selector .menu a{
    color: #000;
    opacity: .4;
    transition: .35s;
    padding: 2em 0px;
    display: flex;
    text-decoration: none;
}

.menu-selector .current-menu-item a{
    opacity: 1;
    font-size: 1em;
}

.menu-follower{
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: 118px;
    z-index: 2;
    width: 103px;
    opacity: 0;

    transition: .35s ease;
}


@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{

}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
    .menu-selector {
        padding: 0em 0vw;
        width: 90vw;
        text-align: center;
    }
}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {
    .menu-selector .menu a {
        letter-spacing: 1px;
    }
}

/* MOBILE */
@media (max-width: 576px) {
    .menu-selector {
        display: none;
    }
    .footerReached .menu-selector {
        transform: translate(0px, 100%);
    }
    .menu-menu-pages-container{
        overflow-x: auto;
    }
    .menu-selector .menu {
        flex-wrap: nowrap;
        width: fit-content;
        padding: 0px;
    }
    .menu-selector .menu li {
        width: max-content;
        display: inline-flex;
        padding: 0px;
    }
    .menu-selector ul li a {
        color: #000!important;
        padding: 30px 15px 80px 15px!important;
        margin-right: 15px;
        margin-left: 15px;
    }
    .menu-selector .menu a {
        opacity: 0.7;
    }
}









